/*General website settings*/
body {
  width: 1024px;
  margin: 0px auto 0px auto;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

img {
  border: 0px;
}

h1 {
  font-size: 24px;
}

/*header div css*/
#header {
  background: url("/images/header.jpg");
  height: 160px;
  width: 1024px;
  margin: 0px;
  padding: 0px;
}

#navigation-header ul {
  margin:0px;
  padding:0px;
  padding-top: 117px;
  margin-left: 55px;
}

#navigation-header li {
  display: inline;
  margin-right: 50px;
}

#navigation-header a {
  text-decoration: none;
}

#authentication-header {
  float: right;
  height: 50px;
}

#authentication-header ul {
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  margin-left: 10px;
}

#authentication-header li {
  margin-right: 10px;
  display: inline;
}

#authentication-header, #authentication-header a {
  color: white;
  font-size: 18px;
}

/*content div css*/
#content {
  margin: 0px;
  padding: 0px;
  background: url("/images/gradient.jpg") repeat-x;
  min-height: 500px;
  padding-top: 20px;
}

/*flash messages css*/
.notices {
  color: green;
  font-size: 16px;
}
/*error messages css*/
.fieldWithErrors {
  padding: 0.5px;
  background-color: #000;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #000;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}