<div class="user_edit">
  <%= form_input :hidden_field, 'form', :value => 'edit' %>

  <table>
    <%= form_input changeable(user, "firstname"), "firstname" %>
    <%= form_input changeable(user, "lastname"), "lastname" %>
    <%= form_input changeable(user, "login"), "login", :size => 30 %><br/>
    <% if submit %>
      <%= form_input :submit_button, user.new_record? ? 'signup' : 'change_settings', :class => 'two_columns' %>
    <% end %>
  </table>
</div>
