<h1>Sign In</h1>

<%form_for :user do |form|%>
  <table>
    <tr>
      <td>Login</td>
      <td><%= form.text_field :login, :size => 40 %> </td>
    </tr>
    <tr>
      <td>Password</td>
      <td><%= form.password_field :password, :size => 40 %> </td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag "Submit" %></td>
    </tr>
  </table>
<%end%>
