<h1>Authenticate</h1>
<div class="errors">
  <%= flash[:error] %>
</div>

<%form_for :user do |form|%>
  <p> Login:            <%= form.text_field     :login,                 :size => 40 %> </p>
  <p> Password:         <%= form.password_field :password,              :size => 40 %> </p>
  <p> <%= submit_tag "Submit" %> </p>
<%end%>
