<div title="<%= title_helper %>" class="form">
  <%= head_helper :error => true %>

  <div class="form-padding">
    <%= message_helper 'change' %>

    <% form_tag_helper do %>
      <%= render :partial => 'password', :locals => {:user => @user, :submit => false } %>
      <div class="button-bar">
        <%= button_helper 'change_password' %>
        <%= link_helper 'change_cancel_welcome', :action => 'welcome' %>
      </div>
    <% end %>
  </div>
</div>