<div title="<%= title_helper %>" class="form">
  <%= head_helper :error => true %>

  <div class="form-padding">
    <% form_tag_helper do %>
      <%= render :partial => 'edit', :locals => {:user => @user, :submit => false } %>
      <%= render :partial => 'password', :locals => {:submit => false } %>
      
      <div class="button-bar">
        <%= button_helper 'signup' %>
      </div>
    <% end %>
  </div>
</div>