Greetings <%= @name %> !!!

Welcome to <%= APP_NAME %>

Your login credentials are:

  login:    user1@testdomain.com

Please click on the following link to confirm your registration:

<a href="<%= @url%>">Click me!</a>

<%= @url %>
